@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

:root {
	--primary-color: #181a1b;
	--secondary-color: #1c1e1f;
}

img { 
	width: 100%; 
	padding: 1rem 0 1rem 0;
}

p:has(img) {
  margin: 0;
  padding: 0;
  text-align: center; /* Centers the image */
}

body {
	background-color: var(--primary-color);
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	
	font-family: "IBM Plex Sans", sans-serif;
	color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;

	line-height: 1.6rem;
}
p { font-size: 16px; margin: 0 0 1rem 0;}
a { text-decoration: none; color:white; }
hr { margin: 2rem 0 2rem 0; width: 80%;}

h1, h2 { margin: 0; }

@media (min-width:768px) {
	.body-container {
		max-width: 600px;
	}

}

.header {
	padding: 2rem 0 2rem 0;
}

blockquote {
	margin:2rem;
}

.body-container {
	margin: 2rem;
}

.post-header {
	border-left: 5px solid white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem 0 0.5rem 1rem;

}

.posts-container {
	display:flex;
	flex-direction: column;
	gap: 2rem;
}

.post-summary {
	border-left: 5px solid white;
	padding-left: 1rem;	
}		

.post-summary:hover {
	transform: translateX(1rem);
	transition: 0.3s ease;
}

.post-summary-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem 0 1rem 0;
}

.post-summary-fade-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;  
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--primary-color));
	pointer-events: none; 
}

.post-summary-text {
	position: relative;
	max-height: 100px;
	overflow: hidden;

	display:flex;
	flex-direction:column;
	padding-bottom: 1rem;
	color:LightGray;
}

.footer {	
	border-top: 1px solid white;
	margin-top: 2rem;
	padding-top: 1rem;
}
