<!DOCTYPE html>
<html lang="fr">
<head>
	<title>{{ .Title }}</title>
	
	<meta charset="UTF-8">
	<meta name="color-scheme" content="dark">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	

	<link rel="stylesheet" href="/css/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="body-container">
		<div class="header">
			<h1><a href="/">home</a></h1>
		</div>
		<div>
			{{ block "posts" . }}{{ end }}
		</div>
		<div class="footer">
			<p>&copy; {{ now.Format "2006" }} - {{ site.Params.author }}</p>
		</div>
	</div>
</body>
</html>
