<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="color-scheme" content="dark">	
	<title>{{ .Title }}</title>
	<link rel="stylesheet" href="/css/style.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main-header">
		<h1><a href="/">home</a></h1>
	</div>

	<main>
		{{ block "main" . }}{{ end }}
	</main>

	<footer>
		<p>&copy; {{ now.Format "2006" }} - {{ site.Params.author }}</p>
	</footer>
</body>
</html>
