{{ define "main" }}
<section class="post-list">
    <div class="list-container">
        {{ range .Pages }}
        <div class="list-item" onclick="window.location.href='{{ .Permalink }}';">
		<div class="list-item-header">
			<h2>{{ .Title }}</h2>
			<time class="list-item-date">{{ .Date.Format "Jan 02, 2006" }}</time>
		</div>
		<div class="list-item-summary">
			<p>{{ .Summary | plainify | safeHTML }}</p>
			<div class="list-item-fade-overlay"></div>
		</div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
