{{ define "posts" }}
    <div class="posts-container">
        {{ range (where .Site.RegularPages "Section" "posts")  }}
        <div class="post-summary" onclick="window.location.href='{{ .Permalink }}';">
		<div class="post-summary-header">
			<h2>{{ .Title }}</h2>
			<time>{{ .Date.Format "Jan 02, 2006" }}</time>
		</div>
		<div class="post-summary-text">
			<p>{{ .Summary | plainify | safeHTML }}</p>
			<div class="post-summary-fade-overlay"></div>
		</div>
        </div>
        {{ end }}
    </div>
{{ end }}
